{% extends "/admin/base.html" %}
{% block title %}日志管理 - TDMS后台管理{% endblock %}
{% block main %}
<div class="row">
    <ol class="breadcrumb">
        <li><a href="/admin"><span class="glyphicon glyphicon-home"></span></a></li>
        <li>后台管理</li>
        <li class="active">日志管理</li>
    </ol>
</div><!--/.row-->

<div class="row">
    <div class="col-lg-12">
        <div class="row">
            <div class="col-lg-12">
                <h3>系统日志</h3>
            </div>
        </div><!--/.row-->
        <div class="row">
            <div class="col-lg-12">
                <table class="table table-bordered table-hover table-condensed">
                    <thead>
                    <tr>
                        <th>日志ID</th>
                        <th>日志类型</th>
                        <th>操作用户</th>
                        <th>涉及设备</th>
                        <th>日志内容</th>
                        <th>记录时间</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for log in list %}
                        <tr>
                            <th scope="row">{{ log['id'] }}</th>
                            <td>{{ log['type'] }}</td>
                            <td>{{ log['doer'] }}</td>
                            <td>{{ log['device'] }}</td>
                            <td>{{ log['content'] }}</td>
                            <td>{{ log['logtime'] }}</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div><!--/.row-->
    </div>
</div><!--/.row-->
{% endblock %}
