<div id="sidebar-collapse" class="col-sm-3 col-lg-2 sidebar">
    <form role="search">
        <div class="form-group">
            <form>
                <input type="text" class="form-control" placeholder="Search 用户/设备/记录">
            </form>
        </div>
    </form>
    <ul class="nav menu">
        <li class="active"><a href="index.html"><span class="glyphicon glyphicon-dashboard"></span> 首页</a></li>
        <li><a href="/admin/lend"><span class="glyphicon glyphicon-th"></span> 借出登记</a></li>
        <li><a href="/admin/return"><span class="glyphicon glyphicon-stats"></span> 还入登记</a></li>
        <li><a href="/admin/devices"><span class="glyphicon glyphicon-list-alt"></span> 设备管理</a></li>
        <li><a href="/admin/users"><span class="glyphicon glyphicon-pencil"></span> 用户管理</a></li>
        <li><a href="/admin/lendlogs"><span class="glyphicon glyphicon-info-sign"></span> 记录管理</a></li>
        <li class="parent ">
            <a href="#">
                <span class="glyphicon glyphicon-list"></span> 系统设置 <span data-toggle="collapse" href="#sub-item-1" class="icon pull-right"><em class="glyphicon glyphicon-s glyphicon-plus"></em></span>
            </a>
            <ul class="children collapse" id="sub-item-1">
                <li>
                    <a class="" href="/admin/schools">
                        <span class="glyphicon glyphicon-share-alt"></span> 学院管理
                    </a>
                </li>
                <li>
                    <a class="" href="/admin/logs">
                        <span class="glyphicon glyphicon-share-alt"></span> 系统日志
                    </a>
                </li>
            </ul>
        </li>
    </ul>
</div><!--/.sidebar-->